*{
	box-sizing: border-box;
}

.splish-splash{
	background-image: url('../images/example-bg.jpeg');
	background-size: cover;
	min-height: 600px;
	/*
	RELEVANT CSS
	position: relative;
	*/
}

.abs-center-me{
/*RELEVANT CSS
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	*/	

	border: #F27935 4px solid;
	background: #fff;	
	font-family: "Trebuchet MS";
}

.abs-center-me > *{
	padding: 0 30px;
}


button{
	display: block;
	background: #F27935;
	width: 100%;
	border: none;
	outline: 0;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}